html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    color: #3a3a3a;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
  margin: auto;
}

.text {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

.content {
  font-size: calc(112.5% + 0.15vw);
  text-align: left;
}

img + em {
  font-size: 70%;
}
/*footer*/

.copyright {
    margin: 15px 0;
}

/*home page*/

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #3a3a3a;
    font-size: 8vh;
}

.intro > h2 {
    color: #757575;
    font-size: 2.5vmin;
    line-height: 1.5;
}

.intro > .profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

a, a:hover, a:visited, a:active, a:link, a:focus {
    text-decoration: none !important;
}

/*paginator at bottom of list view*/

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/*list item for posts and projects*/

.item {
    padding: 10px 0;
    text-align: left;
    overflow: hidden;
}

.item > h5 {
  padding-bottom: 0px;
}

.item-tag {
    border-color: grey;
    border-style: solid;
    border-width: 0.15px;
    color: #3a3a3a;
    background-color: white;
    white-space: nowrap;
    line-height: 200%;
    /* float: right;
    margin-left: 5px; */
}

.item-tag:hover {
    background-color: var(--accent);
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

img {
    max-width: 100%;
}

.item h4 a:link, a:visited, a:hover {
  text-decoration: none;
}

h4 {
  font-size: 1.5em;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  // sets up hover state
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  padding-bottom: 1em;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

article {
  padding: 20px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#card-title {
  font-size: 20px;
  margin: 0;
  color: #333;
}

#card-subtitle {
  flex: 1;
  line-height: 1.4;
}

#card-tags {
  margin: 2em 0 0 0;
}

.thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

#page-title {
  text-transform: uppercase;
  margin: 1em 0 1em 0;
}
