{{ partial "header" . }}

<main>

    <h2 id="page-title">{{ .Title }}</h2>

    <div class="band">
      {{ if eq .Section "blog" }}
        {{ range (.Paginator 20).Pages }} {{ partial "card-blog" . }} {{ end }}
      {{ else if eq .Section "projects"}}
        {{ range (.Paginator 20).Pages }} {{ partial "card-project" . }} {{ end }}
      {{ else }}
        {{ range (.Paginator 20).Pages }} {{ partial "card-project" . }} {{ end }}
      {{ end }}
    </div>

</main>

{{ partial "paginator" . }}

{{ partial "footer" . }}
